@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind", sans-serif;
  background-color: #073b4c;
  color: #FBF5F3;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: #FBF5F3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06d6a0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3ec8db;
}

.container {
  opacity: 0;
}

.fadeIn {
  animation: fadeInUp 1s ease-in-out;
}

#arrow-up {
  position: fixed;
  z-index: 1000;
  right: 3%;
  font-size: 1.2rem;
  background-color: #06d6a0;
  color: #073b4c;
  opacity: 1;
  padding: 15px 18px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(120dvh);
  transition: all 0.3s ease-in-out;
}

#arrow-up:hover {
  background-color: #3ec8db;
}

#arrow-up.active {
  transform: translateY(90dvh);
  display: block;
}

@media (200px <= width <= 768px) {
  #arrow-up {
    right: 6%;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  position: fixed;
  z-index: 1000;
  padding: 1.5rem 10%;
  background-color: #073b4c;
  width: 100%;
  top: 0;
  left: 0;
}
header div.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

div.logo-container a {
  font-size: 2.4rem;
  font-weight: 700;
  color: #FBF5F3;
}

div.menu nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.6rem;
}
div.menu nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #FBF5F3;
  transition: 0.3s ease-in-out;
}
div.menu nav a:hover, div.menu nav a span {
  color: #06d6a0;
}

#menu, #x-icon {
  display: none;
  position: relative;
  font-size: 1.8rem;
  color: var(--snow);
  cursor: pointer;
  color: #FBF5F3;
  transition: transform 0.3s ease-out;
}

#menu.active {
  transform: rotate(180deg);
}

/* Header Media Queries */
@media (200px <= width <= 768px) {
  header div.menu {
    position: fixed;
    right: -50dvw;
    display: block;
    height: 100dvh;
    top: 6.84rem;
    background-color: #FBF5F3;
    width: 50dvw;
    transition: right 0.3s ease;
    /* Return Initial State */
  }
  header div.menu.active {
    right: 0;
  }
  header div.menu nav ul {
    display: initial;
  }
  header div.menu nav li a {
    display: block;
    padding: 1.5rem;
    color: #111010;
    font-weight: 500;
    transition: 0.3s;
  }
  header div.menu nav li a span {
    color: #073b4c;
  }
  header div.menu nav a:hover, header div.menu nav a.active {
    background-color: #06d6a0;
    color: #073b4c;
  }
  #menu {
    display: block;
  }
}
main section {
  min-height: 100dvh;
  padding: 2rem 15%;
}

main section .container h1:not(.name) {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #FBF5F3;
  display: inline-block;
}

.btn-accent {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #FBF5F3;
  display: inline-block;
  padding: 1.2rem 3rem;
  text-align: center;
  color: #073b4c;
  background-color: #06d6a0;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.btn-accent:hover {
  background-color: #3ec8db;
}

.container-img {
  position: relative;
  border: solid 0.5rem #06d6a0;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
  width: 65%;
}
.container-img:hover, .container-img:focus {
  transform: translate(0.3rem, 0.3rem);
}
.container-img img {
  position: relative;
  transform: translate(-1.5rem, -1.5rem);
  border-radius: 1rem;
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.3s ease-in-out;
}
.container-img:hover img {
  transform: translate(-2rem, -2rem);
  filter: grayscale(0);
}

section.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

section.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
section.hero .container > div.box {
  flex: 1 1 30rem;
}
section.hero .container div.intro h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #FBF5F3;
}
section.hero .container div.intro h2 {
  font-family: "Hind", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #06d6a0;
}
section.hero .container div.intro p {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
  color: #FBF5F3;
}
section.hero .container div.intro div.social-media ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
section.hero .container div.intro div.social-media ul a {
  color: #FBF5F3;
  display: inline-block;
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}
section.hero .container div.intro div.social-media ul a:hover {
  transform: translateY(-0.5rem);
  color: #06d6a0;
}
section.hero .container div.intro .social-media, section.hero .container div.intro .btn-lm {
  margin-top: 1.5rem;
}
section.hero .container div.intro .btn-lm {
  position: relative;
}
section.hero .container div.intro .btn-lm::after {
  content: "\f0ab";
  position: relative;
  top: 0;
  right: -0.5rem;
  bottom: 0;
  transition: right 0.3s ease-in-out;
  font-family: FontAwesome;
  font-size: 1.6rem;
  font-weight: 900;
  text-transform: normal;
  color: #073b4c;
}
section.hero .container div.intro .btn-lm:hover::after {
  right: -1rem;
}
section.hero .container div.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}

@media (200px <= width <= 900px) {
  section.hero .container, div.profile-img {
    margin-top: 5rem;
  }
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.about .container > div {
  flex: 1 1 30rem;
}
.about .container p {
  font-family: "Hind", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: normal;
  color: #FBF5F3;
}
.about .container div.info > * {
  margin-block-start: 1em;
}
.about .container div.code-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  margin-top: 9%;
}
.about .container div.code-img img {
  position: relative;
  width: 100%;
}

@media (200px <= width <= 768px) {
  section.about .container {
    margin-top: 5rem;
  }
}
section.skill {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0;
}

section.skill .container {
  display: inline-block;
  margin-top: 5.6rem;
  width: 75%;
}
section.skill .container h2 {
  font-family: "Hind", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #FBF5F3;
}
section.skill .container label {
  font-family: "Hind", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #FBF5F3;
}
section.skill .container .box {
  position: relative;
  margin-block-start: 1em;
}
section.skill .container .progress {
  position: relative;
  width: 100%;
  background-color: #111010;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2em;
}
section.skill .container .progress .percent {
  position: relative;
  padding: 1.2rem;
  background-color: #06d6a0;
  width: 0;
  text-align: center;
}
section.skill .container .progress .percent.item-1.active {
  animation: item-1 1s ease-in-out 0.4s forwards;
}
@keyframes item-1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
section.skill .container .progress .percent.item-2.active {
  animation: item-2 1s ease-in-out 0.6s forwards;
}
@keyframes item-2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
section.skill .container .progress .percent.item-3.active {
  animation: item-3 1s ease-in-out 0.8s forwards;
}
@keyframes item-3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
section.skill .container .progress .percent.item-4.active {
  animation: item-4 1s ease-in-out 1s forwards;
}
@keyframes item-4 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
section.skill .container .progress .percent.active span {
  animation: fadeInUp 0.6s ease-in-out 2s forwards;
}
section.skill .container .progress .percent span {
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: normal;
  color: #073b4c;
  opacity: 0;
}

section.contact {
  position: relative;
  display: block;
}
section.contact .container {
  position: relative;
  width: 100%;
  height: 75%;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}
section.contact .container .box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
}
section.contact .container .box > * {
  margin-block-start: 1em;
}
section.contact .container .box p {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: normal;
  color: #FBF5F3;
  padding: 0 20%;
  text-align: center;
}

@media (200px <= width <= 768px) {
  section.contact .container .box p {
    padding: 0;
  }
}
footer {
  padding: 1.5rem 10%;
  text-align: center;
}
footer p {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #FBF5F3;
  letter-spacing: 0.08;
}/*# sourceMappingURL=style.css.map */